.footer {
  width: 1100px;
  margin: auto;
  background-color: black;
}

.footer-links {
  float: right;
  margin-right: 50px;
}

.footer-links li {
  float: left;
  padding: 15px;
}

.footer-links img {
  height: 30px;
  width: 30px;
}

.footer-text {
  color: white;
  float: left;
  padding: 20px;
}
