.movie-form-page {
  background-color: #00b3b3;
  width: 1100px;
  height: 900px;
  margin: auto;
}

.movie-form-form {
  background-color: white;
  width: 700px;
  margin: auto;
  // margin-top: 50px; FIX
  padding: 10px;
  font-size: 15px;
}


.movie-form-form > h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: auto;
  width: 350px;
  margin-bottom: 10px;
  background-color: yellow;
}
