.movie-form-page {
  background-color: lightblue;
  width: 1100px;
  height: 900px;
  margin: auto;
}

.movie-form-form {
  background-color: white;
  width: 700px;
  margin: auto;
  // margin-top: 50px; FIX
  padding: 10px;
  font-size: 15px;
}

.movie-form-form > input,
.movie-form-form > textarea {
  width: 300px;
  margin-bottom: 10px;
  max-width: 400px;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
}

.movie-form-form > textarea {
  height: 70px;
}

.movie-form-form > label {
  width: 200px;
  float: left;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
}

.movie-form-form > h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: auto;
  width: 350px;
  margin-bottom: 10px;
  background-color: yellow;
}

.movie-form-submit {
  margin: auto;
  text-align: center;
}

.movie-form-submit > button {
  padding: 8px 16px;
  background-color: #09689a;
  color: white;
  border-radius: 5px;
}

.movie-form-form > select {
  width: 310px;
  margin-bottom: 10px;
  border: 1px solid black;
  height: 30px;
}
