.navbar {
  width: 1100px;
  margin: auto;
  border-bottom: 1px solid white;
  background-image: image-url('monkey3.png');
  background-size: 8%;
  background-repeat: no-repeat;
  background-color: #00b3b3;
  // background-color: #79d2a4;
}

.navbar-logo-search {
  float: left;
  width: 60%
}

.navbar-buttons {
  float: right;
  width: 35%;
}

.navbar-logo {
  height: auto;
  padding: 5px 0 5px 15%;
  width: 15%;
  float: left;
  color: #ffff00;
}

// .navbar-logo img {
//   width: auto;
//   height: 60px;
// }

.navbar-logo h1 {
  font-size: 26px;
  text-align: center;
  font-family: 'Londrina Solid';
  // font-weight: bold;
  color: #ffff66;
  text-shadow: 3px 3px 5px black;
  // -webkit-text-stroke-width: 0.2px;
  // -webkit-text-stroke-color: black;
  // font-style: italic;
  letter-spacing: 5px;
}

.navbar-logo h1:first-child {
  color: #994d00;
}
.navbar-search-form {
  float: right;
}

.navbar-searchbox {
  float: right;
  margin: 25px 10px 0 0;
}

.navbar-searchbox input {
  background-color: white;
  width: 310px;
  padding: 6px 12px;
  border-radius: 7px;
  border: 1px solid #006666;
  box-shadow: 0 1px #00e6e6;
}

.navbar-search-results {
  position: absolute;
  z-index: 50;
  background-color: white;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.navbar-search-results li {
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 380px;
  padding: 7px;
}

.navbar-search-results li:hover {
  background-color: #ff9933;
  color: white;
  cursor: pointer;
}

.navbar-buttons li {
  float: left;
  color: white;
  padding: 10px 5px;
  text-align: center;
  margin-bottom: 5px;
  width: 30%;
  border-radius: 7px;
  font-weight: bold;
}

.navbar-buttons li:hover {
  background-color: white;
  color: black;
  box-shadow: 0 1px #006666;
  cursor: pointer;
}

.welcome-message {
  float: right;
  font-size: 14px;
  padding: 5px 20px;
  color: white;
}

.welcome-message p {
  float: left;
}

.admin-buttons {
  float: left;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  background: orange;
}
