.modal > .new-session-form {
  width: 400px;
  margin: 0 auto;
  background-color: white;
  z-index: 101;
  animation: slidein 0.7s forwards;
}

@keyframes slidein {
  from {
    margin: 0 auto;
  }

  to {
    margin: 5% auto;
  }
}
