.modal > .new-session-form {
  width: 400px;
  margin: 0 auto;
  background-color: white;
  z-index: 101;
  animation: slidein 0.7s forwards;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@keyframes slidein {
  from {
    margin: 0 auto;
  }

  to {
    margin: 5% auto;
  }
}
