.user-page {
  height: 800px;
}

.user-page > .new-user-form {
  width: 750px;
  margin: auto;
  background-color: white;
  height: 330px;
}

.form-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.form-main {
  padding: 15px;
}

.form-header h4 {
  float:left;
  font-size: 14px;
  font-weight: bold;
}

.form-header button {
  float: right;
  color: grey;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}
