.user-page {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.user-page > .new-user-form {
  width: 500px;
  margin: 15% auto;
  background-color: white;
  // height: 400px;
  z-index: 101;
}

.form-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.form-main {
  padding: 15px;
}

.form-header h4 {
  float:left;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
  margin: auto;
  width: 200px;
  background-color: #00b3b3;
  border-radius: 50px;
}

.logo img {
  height: 60px;
}

.modal-logo {
    // background-color: yellow;
  width: 200px;
  height: 70px;
  margin: auto;
  border-radius: 50px;
  background: radial-gradient(ellipse at center, #00dbdb 20%, #ffffff 72%, #ffffff 100%);
}

.modal-logo h1 {
  font-size: 26px;
  text-align: center;
  font-family: 'Londrina Solid';
  // font-weight: bold;
  color: #ffff66;
  text-shadow: 3px 3px 5px black;
  // -webkit-text-stroke-width: 0.2px;
  // -webkit-text-stroke-color: black;
  // font-style: italic;
  letter-spacing: 5px;
}

.modal-logo h1:first-child {
  color: #994d00;
}
