// ABOUT PAGE
 .about-page {
   width: 1100px;
   margin: auto;
   background-color: white;
 }

 .about-page h1 {
   font-size: 24px;
   font-weight: bold;
   padding: 30px 10px;
 }

 .about-page p {
   width: 600px;
   padding: 0 0 20px 20px;
   color: #333;
 }

 .about-page .rating-img img {
   margin: 0 5px;
 }
