.browse-page {
  width: 1100px;
  margin: auto;
  background-color: white;
}

.browse-form {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.browse-header {
  background-color: white;
  height: 68px;
}

.browse-header > h2 {
    padding: 10px 20px;
    font-size: 22px;
    position: relative;
    top: 20px;
    width: 190px;
    background-color: #ff9933;
    font-weight: 900;
}

.browse-release {
  width: 250px;
}

.browse-release input {
  padding: 2px 5px;
  margin: 5px 15px 5px 5px;
}

.browse-ratings {
  width: 250px;
  text-align: center;
  margin: 10px 0;
}

.slider {
  width: 250px;
  height: 20px;
}

.slider .bar {
  // top: 5px;
  // background-color: #ccc;
}

.bar-1 {
  height: 10px;
  background-color: #ccc;
  top: 5px;
}

.bar-0, .bar-2 {
  top: 5px;
  height: 8px;
  background-color: white;
  border: 1px solid #ccc;
}

.handle {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.browse-genres input {
  margin: 0 15px 0 5px;
}

.set-genre {
  color: #0073e6;
  margin-right: 15px;
}

.set-genre:hover {
  text-decoration: underline;
  cursor: pointer;
}

.browse-form .form-submit {
  text-align: left;
  margin-top: 10px;
}

.browse-form .form-submit button {
  margin: 0;
}

.browse-results {
  width: 75%;
  margin: auto;
}

.browse-results .rec-list-item {
  margin-top: 15px;
  min-height: 310px;
  float: left;
  font-size: 13px;
}

.browse-title {
  font-size: 15px;
  font-weight: bold;
}
