.browse-page {
  width: 1100px;
  margin: auto;
  background-color: white;
}

.browse-form {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.browse-header {
  background-color: white;
  height: 68px;
}

.browse-header > h2 {
    padding: 10px 20px;
    font-size: 22px;
    position: relative;
    top: 20px;
    width: 190px;
    background-color: #ff9933;
    font-weight: 900;
}

.browse-release {
  width: 250px;
}

.browse-release input {
  padding: 2px 5px;
  margin: 5px 15px 5px 5px;
}

.browse-ratings {
  width: 250px;
  margin: 10px 0;
}

.browse-ratings-disp label:first-child {
  float: left;
  width: 70px;
}

.browse-ratings-disp label {
  float: right;
  width: 49px;
  text-align: right;
}

.browse-ratings-disp label:nth-child(2) {
  margin-right: 40px;
}

.slider {
  width: 250px;
  height: 20px;
}

.bar-1 {
  height: 14px;
  top: 5px;
  background-color: #343434;
}

.bar-0, .bar-2 {
  height: 12px;
  top: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.handle {

  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 28px;
  height: 24px;
  border-radius: 3px;
}

.handle:before,
.handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 12px;
  top: 5px;
}

.handle:after {
  left: 15px;
}

.browse-genres input {
  margin: 0 15px 0 5px;
}

.set-genre {
  color: #0073e6;
  margin-right: 15px;
}

.set-genre:hover {
  text-decoration: underline;
  cursor: pointer;
}

.browse-form .form-submit {
  text-align: left;
  margin-top: 10px;
}

.browse-form .form-submit button {
  margin: 0;
}

.browse-results {
  width: 75%;
  margin: auto;
}

.browse-results .rec-list-item {
  margin-top: 15px;
  min-height: 310px;
  float: left;
  font-size: 13px;
}

.browse-title {
  font-size: 15px;
  font-weight: bold;
}
