// HOMEPAGE

.home-page-content {
  width: 1100px;
  margin: auto;
  background-color: white;
  font-size: 15px;
}


// CAROUSEL

.top {
    background-color: lightgrey;
}

.carousel-container {
  width: 600px;
  color: #333;
}

.slick-dots {
  bottom: 50px;
  right: -210px;
}

.slick-dots li {
  margin: 0 1px;
}

.slick-dots li button:before {
  color: white;
  font-size: 12px;
}

.slick-slider {
  margin-bottom: 0;
}

.slick-prev {
  left: 0;
  top: 10px;;
  height: 225px;
  width: 50px;
}

.slick-prev:before  {
  color: black;
}

.slick-next {
  right: 0;
  top: 10px;;
  height: 225px;
  width: 50px;
}

.slick-next:before {
  position: relative;
  color: black;
  right: -25px;
}

.carousel-movie {
  height: 300px;
  width: 600px;
  float: left;
}

.carousel-movie-desc {
  height: 75%;
  padding: 20px 20px 0 20px;
  background: white;
}

.carousel-movie-cons {
  height: 25%;
  background-color: #343434;
}

.carousel-movie-cons h3 {
  background-color: #ff9933;
  width: 30%;
  text-align: center;
}
.carousel-movie-cons p {
  padding: 10px;
  color: white;
}

.carousel-img-container {
  float: left;
  height: 90%;
  width: 23%;
}

.carousel-img-container img {
  height: 100%;
  width: 100%;
}

.carousel-movie-info {
  float: right;
  padding: 0 10px 10px 10px;
  width: 70%;
}

.carousel-movie-info h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.carousel-movie-info-rating {
  float: left;
  width: 20%;
  text-align: center;
  font-weight: bold;
}

.carousel-movie-info-rating img {
  height: 100px;
  width: auto;
}

.carousel-movie-info-table {
  float: right;
  width: 80%;
}

.carousel-movie-info-table table {
  width: 100%;
}

.carousel-movie-info-table tr td:first-child {
  text-align: right;
  padding-right: 20px;
}



// TABLES

.home-page-table tr {
  vertical-align: middle;
  height: 26px;
}

.home-page-tables {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.home-page-tables tr:hover,
.showpage-table tr:hover,
.rec-list-item:hover {
  color: #0073e6;
}

.home-page-tables-leftcol {
  float: left;
  width: 35%;
  padding: 0 0 20px 20px;
  border-right: 1px solid #eee;
}

.home-page-tables-rightcol {
  float: left;
  width: 35%;
  padding: 0 0 20px 20px;
}

.home-page-table table {
  width: 100%;
  border-spacing: 0;
}

.home-page-table h2 {
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 900;
}

.home-page-table .left-col {
  width: 15%;
}

.rating-img img {
  height: 18px;
  width: auto;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.home-page-table .middle-col {
  max-width: 220px;
  min-width: 220px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-page-table .middle-col a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 4px;
}

.home-page-table .right-col {
  width: 20%;
  text-transform: uppercase;
  padding-top: 2px;
}

.table-hover {
  position: relative;
}

.table-hover-content {
  position: absolute;
  top: -50px;
  background-color: white;
  z-index: 10;
  width: 200px;
  border: 1px solid #aaa;
  box-shadow: 0 1px #aaa;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  // border-right: 10px solid #aaa;
  border-right: 10px solid #aaa;
  // box-shadow: 1px 1px 1px 1px #aaa;
  position: absolute;
  top: 50px;
  left: -10px;
}

.table-hover-img-container {
  height: 100px;
  width: 65px;
  float: left;
}

.table-hover-img-container img {
  height: 100%;
  width: 100%;
}

.table-hover-top-info  > h4 {
  font-weight: bold;
}

.table-hover-rating {
  width: 100%;
  margin-top: 5px;
}

.table-hover-top-info {
  float: right;
  padding: 5px;
  width: 120px;
}

.table-hover-top-info span {
  float: left;
  width: 15%;
  // margin-right: 5px;
}

.table-hover-actors {
  font-size: 12px;
}

.table-hover-content > p span:first-child {
  color: #aaa;
}

// RECOMMENDED

.recommended > h1 {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 22px;
  background-color: #ff9933;
  float: left;
  font-weight: 900;
}

.recommended-panel {
  clear: both;
  padding: 15px;
}

.recommended-logo {
  width: 20%;
  float: left;
  padding: 0 10px;
}

.rec-logo-container {
  display: table;
  margin: 0 auto;
}

.recommended-logo img {
  width: auto;
  height: 120px;
  margin: auto;
}

.recommended-list {
  float: right;
  width: 75%;
  padding: 0 10px;
}

.rec-list-item {
  float: left;
  width: 17%;
  padding: 0 10px;
  text-align: center;
}
.rec-list-item p:first-child {
  font-weight: bold;
  font-size: 14px;
}

.rec-img-container {
  height: 200px;
  text-align: center;
}

.rec-img-container > img {
  height: 100%;
  width: 100%;
}
