.home-page-content {
  width: 1100px;
  margin: auto;
  background-color: white;
}

.home-page-tables {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.home-page-tables tr:hover {
  color: #0073e6;
}

.home-page-tables-leftcol {
  float: left;
  width: 35%;
  padding: 20px 0 20px 20px;
  border-right: 1px solid #eee;
}

.home-page-tables-rightcol {
  float: left;
  width: 35;
  padding: 20px 0 20px 20px;
}

.home-page-table table {
  width: 100%;
  font-size: 15px;
}

.home-page-table h2 {
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 900;
}

.left-col {
  width: 15%;
}

.left-col:after {
  content: "%";
}

.middle-col {
  max-width: 220px;
  min-width: 220px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right-col {
  width: 20%;
  text-transform: uppercase;
}
