// HOMEPAGE

.home-page-content {
  width: 1100px;
  margin: auto;
  background-color: white;
  font-size: 15px;
}


// CAROUSEL

.carousel-container {
  width: 600px;
  color: #333;
}

.slick-dots {
    bottom: 0;
}

.slick-slider {
  margin-bottom: 0;
}

.slick-prev {
  left: 0;
  top: 10px;;
  height: 280px;
  width: 50px;
}

.slick-prev:before  {
  color: black;
}

.slick-next {
  right: 0;
  top: 10px;;
  height: 280px;
  width: 50px;
}

.slick-next:before {
  position: relative;
  color: black;
  right: -25px;
}

.carousel-movie {
  height: 300px;
  width: 600px;
  float: left;
}

.carousel-movie-desc {
  height: 70%;
  padding: 20px 20px 0 20px;
}

.carousel-movie-cons {
  height: 23%;
  background-color: #343434;
}

.carousel-movie-cons h3 {
  background-color: #ff9933;
  width: 30%;
  text-align: center;
}
.carousel-movie-cons p {
  padding: 10px;
  color: white;
}

.carousel-img-container {
  float: left;
  height: 90%;
  width: 23%;
  // margin-top: 20px;
}

.carousel-img-container img {
  height: 100%;
  width: 100%;
}

.carousel-movie-info {
  float: right;
  padding: 0 10px 10px 10px;
  width: 70%;
}

.carousel-movie-info h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.carousel-movie-info-rating {
  float: left;
  width: 20%;
  text-align: center;
}

.carousel-movie-info-rating img {
  height: 100px;
  width: auto;
}

.carousel-movie-info-table {
  float: right;
  width: 80%;
}

.carousel-movie-info-table table {
  width: 100%;
}

.carousel-movie-info-table tr td:first-child {
  text-align: right;
  padding-right: 20px;
}

.slider-container {
  padding: 20px;
  width: 600px;
  height: 300px;
  color: #333;
  background: #419be0;
}

// .slider {
//   height: 100%;
//   width: 100%;
// }
//
// .slick-track {
//   height: 400px;
// }



// TABLES

.home-page-tables {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.home-page-tables tr:hover,
.rec-list-item:hover {
  color: #0073e6;
}

.home-page-tables-leftcol {
  float: left;
  width: 35%;
  padding: 0 0 20px 20px;
  border-right: 1px solid #eee;
}

.home-page-tables-rightcol {
  float: left;
  width: 35;
  padding: 0 0 20px 20px;
}

.home-page-table table {
  width: 100%;
}

.home-page-table h2 {
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 900;
}

.left-col {
  width: 15%;
}

.rating-img img {
  height: 18px;
  width: auto;
  margin-right: 5px;
  position: relative;
  top: 3px;
}

.middle-col {
  max-width: 220px;
  min-width: 220px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right-col {
  width: 20%;
  text-transform: uppercase;
}

// RECOMMENDED

.recommended > h1 {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 22px;
  background-color: #ff9933;
  float: left;
  font-weight: 900;
}

.recommended-panel {
  clear: both;
  padding: 15px;
}

.recommended-logo {
  width: 20%;
  float: left;
  padding: 0 10px;
}

.rec-logo-container {
  display: table;
  margin: 0 auto;
}

.recommended-logo img {
  width: auto;
  height: 120px;
  margin: auto;
}

.recommended-list {
  float: right;
  width: 75%;
  padding: 0 10px;
}

.rec-list-item {
  float: left;
  width: 17%;
  padding: 0 10px;
  text-align: center;
}
.rec-list-item p:first-child {
  font-weight: bold;
  font-size: 14px;
}

.rec-img-container {
  height: 200px;
  text-align: center;
}

.rec-img-container > img {
  height: 100%;
  width: 100%;
}
