// SHOW PAGE

.showpage-content {
  width: 1100px;
  margin: auto;
  background-color: white;
}

.showpage-sidebar {
  width: 300px;
  float: left;
  padding: 10px;
}

.showpage-main {
  width: 760px;
  float: left;
  padding: 10px;
}

// TRAILER


// INFO

.movie-info {
  height: 270px;
  width: 100%;
}

.show-img-container {
  float: left;
  height: 100%;
  width: 175px;
}

.show-img-container img {
  height: 100%;
  width: 100%;
}

.show-info-info {
  background-color: #ffe6cc;
  float: left;
  padding: 20px 10px 10px 10px;
  height: 240px;
  width: 565px;
}

.show-rating {
  float: left;
  width: 40%;
  height: 100%;
}

.show-rating h4 {
  text-align: center;
  padding: 0 10px 10px 10px;
}

.show-rating-rating {
  width: 80%;
  margin: auto;
}

.show-rating-rating span {
  float: left;
}

.show-rating-rating p {
  font-size: 36px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
}

.show-rating-rating img {
  margin: auto;
  height: 90px;
  width: auto;
}

.show-rating-counts {
  width: 80%;
  height: 138px;
  margin: 10px 0 0 20px;
}

// .show-rating-counts p {
//   font-size: 14px;
// }

.show-info-titletable {
  float: right;
  width: 60%;
}

.show-info-titletable h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
}

.show-info-table tr td:first-child {
  text-align: right;
  padding-right: 20px;
}

// MORE INFO

// REVIEWS
