// SHOW PAGE

.showpage-content {
  width: 1100px;
  margin: auto;
  background-color: white;
}

.showpage-sidebar {
  width: 300px;
  float: left;
  padding: 10px 9px 10px 10px;
}

.showpage-main {
  width: 760px;
  float: left;
  padding: 10px;
}

// SIDEBAR

.showpage-sidebar {

}

.showpage-sidebar-content {
  width: 100%;
  border: 1px solid #eee;
}

.sidebar-buttons div {
  float: left;
  height: 35px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  color: #898989;
  padding-top: 15px;
  background-color: #eee;
  cursor: pointer;
}

.sidebar-buttons .selected {
  background-color: white;
  color: black;
}

.showpage-sidebar-content {
  font-size: 13px;
}

.showpage-table {
  padding: 5px;
}

.showpage-table .left-col {
  width: 20%;
}

.showpage-table .middle-col {
  min-width: 174px;
  max-width: 174px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.showpage-table .middle-col a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 4px;
}

.showpage-table .right-col {
  width: 18%;
}

// .showpage-table tr:hover {
//   color: blue;
// }

.showpage-table h2 {
  font-weight: bold;
  margin: 10px 0;
}

.showpage-table .table-hover {
  left: 8px;
}

// TRAILER

.video-container {
  height: 425px;
  width: 670px;
  margin: 5% auto;
  opacity: 1;
  animation: fadeIn ease-in-out 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6s;
  }
}

// INFO

.movie-info {
  height: 270px;
  width: 100%;
  margin-top: 5px;
}

.show-img-container {
  float: left;
  height: 100%;
  width: 175px;
}

.show-img-container img {
  height: 100%;
  width: 100%;
}

.show-info-info {
  background-color: #ffe6cc;
  float: left;
  padding: 20px 10px 10px 10px;
  height: 240px;
  width: 565px;
}

.show-rating {
  float: left;
  width: 35%;
  height: 100%;
  border-right: 1px solid #343434;
}

.show-rating h4 {
  text-align: center;
  padding: 0 10px 10px 10px;
}

.show-rating-rating {
  width: 80%;
  margin: auto;
}

.show-rating-rating span {
  float: left;
}

.show-rating-rating p {
  font-size: 36px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
}

.show-rating-rating img {
  margin: auto;
  height: 90px;
  width: auto;
}

.show-rating-counts {
  width: 80%;
  height: 138px;
  margin: 10px 0 0 20px;
}

.show-info-titletable {
  float: right;
  width: 60%;
}

.show-info-titletable h3 {
  text-align: center;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
}

.show-info-table tr td:first-child {
  text-align: right;
  padding-right: 20px;
}

.act-dir {
  color: #004d99;
}

.act-dir:hover {
  text-decoration: underline;
  cursor: pointer;
}

// MORE INFO

.movie-show-moreinfo {
  border: 1px solid #eee;
  margin-top: 10px;
}

.movie-show-moreinfo h2 {
  font-size: 22px;
  background-color: #ff9933;
  font-weight: 900;
  padding: 10px 20px;
  margin-top: 15px;
  width: 130px;
}

.movie-show-moreinfo h4 {
  margin-top: 10px;
  font-weight: bold;
  padding: 0 20px;
  text-decoration: underline;
  }

.movie-show-moreinfo p {
  padding: 0 20px 10px 20px;
  width: 75%;
}

// REVIEWS

.showpage-reviews {
  margin-top: 10px;
  // border-top: 1px solid #eee;
  // border-left: 1px solid #eee;
  // border-bottom: 1px solid #eee;
  border: 1px solid #eee;
}

.showpage-reviews h2 {
  font-size: 22px;
  background-color: #ff9933;
  font-weight: 900;
  padding: 10px 20px;
  margin: 15px 0;
  float: left;
  text-transform: uppercase;
}

.showpage-reviews h2 span:nth-child(2) {
  font-style: italic;
}

.review-list {
  padding: 15px 15px 0 15px;
  min-height: 450px;

}

.show-review {
  float: right !important;
  clear: right ;
  width: 334px;
  padding: 10px;
  // border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  margin-bottom: 15px;
}

.show-review:nth-child(2n+1) {
  margin-right: 15px;
  float: left !important;
  clear: left ;
}

.review-banana {
  height: 40px;
  width: 30px;
  float: left;
  padding-left: 10px;
}

.review-banana img {
  height: 100%;
  width: auto;
}

.review-content {
  width: 280px;
  float: right;
}

.review-content > p {
  margin-bottom: 10px;
}

.review-source {
  font-size: 13px;
}

.review-author {
  float: left;
}

.review-author span:nth-child(2) {
  font-weight: bold;
}

.review-created {
  float: right;
}

.pagination {
  margin: 0 0 15px 15px;
}

.pagination .next a {
  width: 40px;
  float: left;
}

.pagination .previous a {
  width: 70px;
  float: left;
}

.pagination li {
  cursor: pointer;
  // width: 20px;
  float: left;
  text-align: center;
  border: 1px solid transparent;
}

.pagination a {
  display: block;
  width: 20px;
  padding: 5px;

}

.pagination .disabled {
  // opacity: 0;
  cursor: default;
  color: #ccc;
}

.pagination .active {
  border: 1px solid #ccc;
  color: #0C89Ca;
}

// REVIEWS FORM

.review-form {
  padding: 0 15px 15px 15px;
}

.review-form-left {
  width: 75%;
  float: left;
}

.review-form-right {
  width: 80px;
  float: left;
  padding: 0 15px 15px 0;
}

.review-form-left h3 {
  text-align: center;
  font-weight: bold;
}

.review-form-left textarea {
  min-width: 96%;
  max-width: 96%;
  padding: 5px;
  border: 1px solid #ccc;
}

.review-edit {
  width: 21%;
  float: left;
}

.review-delete {
  width: 30%;
  float: left;
}

.review-form-editdelete button {
  width: 80px;
  float: left;
  margin: 5px 5px 0 0;
  padding: 5px 10px;
  text-align: center;
  background-color: #0C89Ca;
  border-radius: 5px;
  color: white;
}
.review-form-editdelete button:hover {
  background-color: #09689a
}

.review-form-up {
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-align: center;
  background-color: white;
  border: 1px solid transparent;
  cursor: pointer;
}

.review-form-down {
  height: 30px;
  padding: 5px 10px;
  text-align: center;
  background-color: white;
  border: 1px solid transparent;
  cursor: pointer;
}

.review-form-up-selected {
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-align: center;
  background-color: lightgreen;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.review-form-down-selected {
  height: 30px;
  padding: 5px 10px;
  text-align: center;
  background-color: red;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.review-form-right img {
  width: auto;
  height: 100%
}

.review-form-up:hover,
.review-form-down:hover {
  border: 1px solid black;
}
