html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small, h4 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Oxygen';
}

#main {
  background-color: #eee;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.form-input {
  margin-bottom: 15px;
}

.form-input label {
  float: left;
  width: 25%;
  text-align: right;
  padding-top: 7px;
  margin-right: 10px;
  font-weight: bold;
}

.form-input input,
.form-input select,
.form-input textarea {
  float: left;
  width: 60%;
  max-width: 70%;
  padding-left: 10px;
  border: 1px solid grey;
  height: 34px;
}

.form-input textarea {
    height: 70px;
}

.form-submit {
  margin: auto;
  text-align: center;
}

.form-submit > button {
  padding: 8px 16px;
  background-color: #0C89Ca;
  color: white;
  border-radius: 5px;
}

.form-submit > button:hover {
  background-color: #09689a;
}

.hide {
  display: none;
}

.exit-button {
  float: right;
  color: grey;
  font-weight: bold;
}

.exit-button:hover {
  color: black;
}

.errors {
  margin-bottom: 20px;
  color: red;
}

.percentage:after {
  content: "%";
}
